# Case Study on Testing of Hypothesis
    A company started to invest in digital marketing as a new way of their product promotions. For that they collected data and decided to carry out a study on it:

    . The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.
    . The company needs to check whether there is any dependency between the features “Region” and “Manager”.
      Help the company to carry out their study with the help of data provided.

In [1]:
import pandas as pd
from scipy import stats

In [2]:
data=pd.read_csv('Sales_add.csv')

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [5]:
data.info()## Data analysis.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [7]:
data.isnull().sum()## Implies there is no null value in the dataset provided.

Month                             0
Region                            0
Manager                           0
Sales_before_digital_add(in $)    0
Sales_After_digital_add(in $)     0
dtype: int64

In [8]:
data.describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

### Inferences:-
     1. Above dataset contains 22 entries
     2. Datatypes used are object and integer(64bit).
     3. Also it contains 5 features.

## 1.The company wishes to clarify whether there is any increase in sales after stepping into digital marketing.

     1.Here, because of less number of entries (<30), we use T test.
     2.Since the test is conducted in the same set of population, we perform paired sample t-test.

  **ASSUMPTIONS** :- **NULL HYPOTHESIS, H0**: There is **no increase** in sales.  
  **ALTERNATIVE HYPOTHESIS, HA**: There is **Increase** in sales after digital marketing.
  
  >If the p-value is less than 0.05( as we usually says), one can reject the null hypothesis(H0).

In [10]:
data[['Sales_before_digital_add(in $)','Sales_After_digital_add(in $)']].describe()

       Sales_before_digital_add(in $)  Sales_After_digital_add(in $)
count                       22.000000                      22.000000
mean                    149239.954545                  231123.727273
std                      14844.042921                   25556.777061
min                     130263.000000                  187305.000000
25%                     138087.750000                  214960.750000
50%                     147444.000000                  229986.500000
75%                     157627.500000                  250909.000000
max                     178939.000000                  276279.000000

In [9]:
data1,data2=stats.ttest_rel(data['Sales_After_digital_add(in $)'],data['Sales_before_digital_add(in $)'])
print('Statistic vlaue is: %0.3f'%data1)
print('P-value is:%0.12f'%data2)

Statistic vlaue is: 12.091
P-value is:0.000000000063

### Inference:-
    1. Since the p value is less than 0.05, we can reject Null hypothesis (H0) and support ALTERNATIVE hypotheis. 
    2. Also from the above analysis of mean values, we can conclude that digital marketing has influenced the sales of the 
       company.

## 2. The company needs to check whether there is any dependency between the features “Region” and “Manager”.

     Since both Region and Manager have categorical values, we have to preform Chi-square test.
     Also, to know dependency of two features, we have to do Test for Independence.
  
  **Null Hypothesis, H0**:- There is **no dependency** between the features **"Region" & "Manager"**.
  
  **Alternate Hypothesis, HA**:- There is **dependency** between the features **"Region" & "Manager"**

In [28]:
##This method requires one to pass a crosstabulation table, this can be done using pandas.crosstab.
dependency = pd.crosstab(data["Region"], data["Manager"])

dependency

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [17]:
stats.chi2_contingency(dependency)

(3.050566893424036,
 0.5493991051158094,
 4,
 array([[4.09090909, 3.18181818, 2.72727273],
        [2.86363636, 2.22727273, 1.90909091],
        [2.04545455, 1.59090909, 1.36363636]]))

In [19]:
sv,pv,df,ec=stats.chi2_contingency(dependency)

In [29]:
print('Statistic value is: %0.3f'%sv)
print('P-value is:%0.12f'%pv)
print('Degree of freedom value is: %0.3f'%df)
print('The expected cell counts :\n',ec)

Statistic value is: 3.051
P-value is:0.549399105116
Degree of freedom value is: 4.000
The expected cell counts :
 [[4.09090909 3.18181818 2.72727273]
 [2.86363636 2.22727273 1.90909091]
 [2.04545455 1.59090909 1.36363636]]

### Inference:
     Since the p-value is > 0.05(so at the significance level of 0.05), we can accept the null hypothesis.
     So we can say that the features "Region" and "Manager" are independent to each other.

### KARUNNIA MENON M, DSA,NORKA - BATCH 3